#favorites-dropdown {
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  text-overflow: ellipsis;
  cursor: pointer;
}

#favorite-button {
  cursor: pointer;
}
