#favorites-dropdown {
  font-family: "Merriweather Sans", sans-serif;
  background-color: map-get($color , porcelain );
  color:map-get($color , nevada );
  letter-spacing: 0.05rem;
  width: 90%;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  text-overflow: ellipsis;
  cursor: pointer;
}

#favorite-button {
  cursor: pointer;
}
