#place-search-input {
  display: block;
  font-family: "Merriweather Sans", sans-serif;
  background-color: map-get($color , porcelain );
  color:map-get($color , nevada );
  width: 90%;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.05rem;
  &::placeholder {
    color: grey;
    opacity: 0.6;
  }
}

#place-search-button {
  position: relative;
  cursor: pointer;
  color: white;
  background-color: map-get($color, blue-ribbon);
  width: auto;
  height: 100%;
  border-radius: 10px;
  padding: 20px;

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
